<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Plans</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <p class="welcome-text">Hello</p>
    <button id="foodplans" class="btn">View my food plans</button>
</div>

<script>
    document.getElementById('foodplans').addEventListener('click', function () {
        window.location.href = 'showFoodplans';
    });
</script>
</body>
</html>
